<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Map</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <meta content=" Find local businesses, view maps and get driving directions in Google Maps. " name="Description">
  <style>
    
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       
    agm-map{
      height : 600px;
      width : 800px;
    }
    agm-marker{
      height: 100px;
      width : 100px;
    }
      /* Optional: Makes the sample page fill the window. */

      
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
  </style>
</head>
<body>
    <script>
        function initMap(){}
    </script>
  <h1>City Map</h1>
   <div id="map">
    <div class="container">
      <div class="row">
      <div class ="col-md-12">
        <div class="map">
          
            <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
          
            
        </div>
      </div>
      </div>
    </div>
   </div>
   <div id ="directions"></div>
</body>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPOVbWCZG6Weeunh-J2-t3NiyG_1-NXpQ&callback=initMap" async defer></script>
</html>